body {
    background-color: #F2F2F2;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset,
.info-card {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
    text-align: left;
    padding: 10px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*Next Buttons*/
#msform .action-button {
    width: 100px;
    background-color: #58E086;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 10px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus,
.add-btn:hover,
.add-btn:focus,
.btn-enviar:hover {
    background-color: #4FD377;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #a19f9f;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus,
.btn-sair:hover {
    background-color: #000000;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #000000bf;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

/*Step Count*/
.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
    color: gray;
    text-align: left;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #f78659;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 16%;
    float: left;
    position: relative;
    font-weight: 300;
}

/*Icons in the ProgressBar*/
#progressbar #dadosGerais:before {
    font-family: FontAwesome;
    content: "\f15b";
}

#progressbar #condicoesEntrega:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar #aplicacoes:before {
    font-family: FontAwesome;
    content: "\f1c0";
}

#progressbar #termosAceite:before {
    font-family: FontAwesome;
    content: "\f129";
}

#progressbar #dadosAdicionais:before {
    font-family: FontAwesome;
    content: "\2b";
}

#progressbar #review:before {
    font-family: FontAwesome;
    content: "\f06e";
}

#progressbar #confirmacao:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #f78659;
}

/*Animated Progress Bar*/
.progress {
    height: 20px;
}

.progress-bar {
    background-color: #f78659;
}

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}

/* CSS Adicional */
p,
.info-card {
    color: grey;
}

b {
    font-weight: 500
}

input[type=button] {
    box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.2);
}

.btn-scroll {
    transition: margin-top 250ms;
}

.info-list {
    list-style-type: circle;
    margin-left: 25px;
}

.info-title {
    color: #f78659;
    font-size: 25px;
    /* color: #000; */
    margin-bottom: 15px;
    font-weight: normal;
}


a.info-title:hover {
    text-decoration: none;
    color: #f34906;
}

.btn-enviar,
.btn-sair {
    width: 120px;
    background: #58E086;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.btn-sair {
    background: #a19f9f;
}


.add-btn {
    width: 150px;
    background-color: #58E086;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 0 10px 10px 15px;
    box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.2);
}

a.info {
    color: #f78659
}
